{{#mdl-card class="services" title='Select a Service'}}
  <div class="mdl-card__supporting-text">
    <ul class="services-list">
      {{#each model.services as |serviceItem|}}
    {{mdl-radio class="appointment-service-selector" value=1 text='' name='abc'}}
      <li class="service-list-item">
        <span class="services-list-item__name">{{serviceItem.service}}-</span>
        <span class="services-list-item__description">{{serviceItem.description}}-</span>
        <span class="services-list-item__price">${{serviceItem.price}}</span>
      </li>
      {{/each}}
    </ul>
  </div>
{{#link-to "client.detail" class="new-btn"}}
  {{#mdl-card-actions}}
    {{mdl-button text='Add To Calendar'}}
  {{/mdl-card-actions}}
{{/link-to}}
{{/mdl-card}}

<label>
  Due date:
  {{#pikaday-with-time startValue=startDate binding=binding as |date time|}}
    <div class="mdl-textfield mdl-js-textfield">
      {{pikaday-input class="mdl-textfield__input" value=date}}
    </div>

    {{mdl-textfield type="time" value=time}}
  {{/pikaday-with-time}}
</label>
