

<h2 class="tag-line__header">Scheduling Made Easy</h2>
<p class="description-p">
  Schedule Me allows freelancers and independent contractors
  to easily manage their calendars and clients. It allows clients to schedule
  appointments based on available dates and times.
</p>

{{#link-to "appointment.calender"}}
  {{mdl-button class="appointment-btn" isRaised=true text='Make An Appointment' isAccent=true}}
{{/link-to}}


<div class="card-row">

{{#mdl-card class="admin-card" title='Admin'}}
  <div class="mdl-card__supporting-text">
    Are you a freelancer or independent contractor
    looking for a way to organize your client
    database, calendar and offered services?
  </div>
{{#link-to 'admin.detail'}}
  {{#mdl-card-actions}}
    {{mdl-button class="admin-btn" text='Admin'}}
  {{/mdl-card-actions}}
{{/link-to}}
  {{#mdl-card-buttons}}
    {{mdl-button icon='share'}}
  {{/mdl-card-buttons}}
{{/mdl-card}}


{{#mdl-card class="client-card" title='Client'}}
  <div class="mdl-card__supporting-text">
    Client can create and maintain their account while
    having access to order history and access to their
    service provider's calendar
  </div>
{{#link-to 'client.detail'}}
  {{#mdl-card-actions}}
    {{mdl-button class="client-btn" text='Client'}}
  {{/mdl-card-actions}}
{{/link-to}}
  {{#mdl-card-buttons}}
    {{mdl-button icon='share'}}
  {{/mdl-card-buttons}}
{{/mdl-card}}

</div>
