<div class="user-profile-form">
{{#simple-form startingValues=profile onsubmit="save" as |formValues|}}
  {{mdl-textfield value=formValues.firstName class="client-info__first-name"}}
  {{mdl-textfield value=formValues.lastName class="client-info__last-name"}}
  {{mdl-textfield value=formValues.address class="client-info__address"}}
  {{mdl-textfield value=formValues.email class="client-info__email"}}

  {{mdl-button class="save-form-btn" isRaised=true text='Save' isAccent=true}}
{{/simple-form}}
</div>
