<div class="professional-service-page">
  {{#simple-form onsubmit="createAppointment" as |formValues|}}
    {{#mdl-card class="services" title='Select a Service' }}
      <div class="mdl-card__supporting-text">
        <ul class="services-list">
          {{#bind-value-action value=formValues.service as |bindService|}}
            {{#each model.services as |serviceItem|}}
              <li class="service-list-item">
                {{#mdl-radio class="appointment-service-selector" action=bindService value=serviceItem text='' name='abc' }}
                  <span class="services-list-item__name">{{serviceItem.service}}-</span>
                  <span class="services-list-item__description">{{serviceItem.description}}-</span>
                  <span class="services-list-item__price">${{serviceItem.price}}</span>
                {{/mdl-radio}}
              </li>
            {{/each}}
          {{/bind-value-action}}
        </ul>
      </div>
      {{#mdl-card-actions}}
        {{mdl-button text='Book Service'}}
      {{/mdl-card-actions}}
    {{/mdl-card}}
  {{/simple-form}}

  {{#mdl-card class="professional-bio" title='Meet'}}
  <div class="mdl-card__supporting-text">
    <span class="professionals-list-item__img">{{gravatar-image class="gravatar-image" email=professional.email}}</span>
    <div class="prof-name">
      <span class="professionals-list-item__name">{{professional.firstName}}</span>
      <span class="professionals-list-item__name">{{professional.lastName}} <br /></span>
      <span class="professionals-list-item__specialty">{{professional.specialty}}</span>
    </div>
  </div>
{{/mdl-card}}
</div>
