<div class="professional-service-page">
  {{#simple-form class="services" onsubmit="createAppointment" as |formValues|}}
    {{#mdl-card class="services-list" title='Select a Service' }}
        <ul class="services-list">
          {{#bind-value-action value=formValues.service as |bindService|}}
            {{#each model.services as |serviceItem|}}
              <li class="service-list-item">
                {{#mdl-radio class="appointment-service-selector" action=bindService value=serviceItem text='' name='abc' }}
                  <span class="services-list-item__name">{{serviceItem.service}}-</span>
                  <span class="services-list-item__description">{{serviceItem.description}}-</span>
                  <span class="services-list-item__price">${{serviceItem.price}}</span>
                {{/mdl-radio}}
              </li>
            {{/each}}
          {{/bind-value-action}}
        </ul>
      {{#mdl-card-actions}}
        {{mdl-button text='Book Service'}}
      {{/mdl-card-actions}}
    {{/mdl-card}}
  {{/simple-form}}

  {{#mdl-card class="professional-bio" title='Meet'}}
  <div class="mdl-card__supporting-text">
    <div class="prof-name">
      <span class="professionals-list-item__name">{{model.professional.firstName}}</span>
      <span class="professionals-list-item__name">{{model.professional.lastName}} <br /></span>
      <span class="professionals-list-item__specialty">{{model.professional.specialty}}</span>
    </div>
    <span class="professionals-list-item__img">{{gravatar-image class="gravatar-image" email=model.professional.email}}</span>
  </div>
{{/mdl-card}}
</div>
