{{#simple-form onsubmit="registerUser" as |user|}}
  {{input value=user.email placeholder="Email"}}
  {{input type="password" value=user.password placeholder="Password"}}
  {{input type="password" value=user.password_confirmation placeholder="Password Confirmation"}}

  {{input value=user.firstName placeholder="First Name"}}
  {{input value=user.lastName placeholder="Last Name"}}

  <button>Submit</button>
{{/simple-form}}
