<div class="register-form">
  {{#simple-form onsubmit="registerUser" as |user|}}
    {{mdl-textfield label="First Name" value=user.firstName}}
    {{mdl-textfield label="Last Name" value=user.lastName}}
    {{mdl-textfield label="Email" value=user.email}}
    {{mdl-textfield label="Address" value=user.address}}
    {{mdl-textfield type="password" label="Password" value=user.password}}
    {{mdl-textfield type="password" label="Password Confirmation" value=user.password_confirmation}}
    {{mdl-button class="register-submit-btn" isRaised=true text="Submit" isAccent=true}}
     {{mdl-radio class="register-radio-btn" value=1 text="Admin" name="admin"}} {{mdl-radio class="register-radio-btn" value=1 text="Client" name="client"}}
  {{/simple-form}}
</div>
