<div class="appointment-book"><h2>Appointment Book</h2>
  {{!-- {{as-calendar
  title="Ember Calendar"
  occurrences=occurrences
  defaultTimeZoneQuery="New York|London|Dubai|Hong Kong"
  dayStartingTime="9:00"
  dayEndingTime="18:00"
  timeSlotDuration="00:30"
  onAddOccurrence=(action "calendarAddOccurrence")
  onUpdateOccurrence=(action "calendarUpdateOccurrence")
  onRemoveOccurrence=(action "calendarRemoveOccurrence")}} --}}
        <ul admin-detail>
          {{#each model as |appointment|}}
            <li class="appointment-item">
              {{appointment.date}}
              {{appointment.name}}
              {{appointment.time}}
            </li>
          {{/each}}
        </ul>
</div>

<div class="services"><h2>Service List</h2>
  <ul class="services-list">
    {{#each model.services as |serviceItem|}}
    <li class="services-list-item">
      <span class="services-list-item__category">{{serviceItem.category}} -</span>
      <span class="services-list-item__name">{{serviceItem.service}} -</span>
      <span class="services-list-item__description">{{serviceItem.description}} -</span>
      <span class="services-list-item__price">${{serviceItem.price}} -</span>
      <span class="services-list-item__time">{{serviceItem.time}}</span>
    {{#link-to "admin.service-items.edit" serviceItem class="services-list-item__edit"}}Edit{{/link-to}}
    </li>
    {{/each}}
  </ul>
  {{#link-to "admin.service-items.new" class="new-btn"}}Add New Service{{/link-to}}
</div>
